<!-- this will extend from layout -->
{% extends "layout.html" %} {% block title %} Accomplished Tasks {% endblock %}
{% block main %}

<h1 class="cover-heading">Accomplished Tasks</h1>
<p class="lead">
  Below you will find your pet's tasks that have been completed.
</p>
{% if finished_tasks %}
<p class="lead">
  Congrats! You and your pet are a great team
  <img
    src="/static/paw-solid.svg"
    width="30"
    height="30"
    class="d-inline-block align-top"
    alt="paw"
  />
</p>
{% endif %}
<!-- table starts here -->
{% if finished_tasks %}
<table class="table table-striped">
  <!-- TABLE HEAD -->
  <thead class="text-white" style="background-color: #425db2">
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Marked As Finished On</th>
    </tr>
  </thead>
  {% endif %}
  <!-- TABLE BODY -->
  <tbody>
    <!-- if there are tasks to display -->
    {% if finished_tasks %}
    <!-- iterate and reverse results -->
    {% for item in finished_tasks | reverse %}
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.datetime }}</td>
    </tr>
    {% endfor %}
    <!-- else if there are no tasks to display -->
    {% else %}
    <br />
    <br />
    <tr>
      <td class="lead">
        No entries available.
        <br />
        Did you forget to mark your tasks as completed?
        <br />
        Click below and choose the tasks that have been finished.
      </td>
      <br />
      <br />
      <div class="col-md-12 mb-3 d-flex justify-content-center">
        <a href="/">
          <button class="lead btn text-white" style="background-color: #425db2">
            Follow this link
          </button>
        </a>
      </div>
    </tr>
    {% endif %}
  </tbody>
</table>
<!-- BUTTON TO CLEAR TASKS -->
{% if finished_tasks %}
<form method="post" action="/accomplished">
  <div class="col-md-12 mb-3 d-flex justify-content-center">
    <button
      class="lead btn text-white"
      type="submit"
      style="background-color: #eb393d"
    >
      Clear finished tasks
    </button>
  </div>
</form>
{% endif %} {% endblock %}
