<!-- this will extend from layout -->
{% extends "layout.html" %} {% block title %} Accomplished Tasks {% endblock %}
{% block main %}

<h1>Accomplished Tasks</h1>

<table>
  <!-- TABLE HEAD -->
  {% if finished_tasks %}
  <thead>
    <tr>
      <th>Task</th>
      <th>Marked As Finished On</th>
    </tr>
  </thead>
  {% endif %}
  <!-- TABLE BODY -->
  <tbody>
    <!-- if there are tasks to display -->
    {% if finished_tasks %}
    <!-- iterate and reverse results -->
    {% for item in finished_tasks | reverse %}
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.datetime }}</td>
    </tr>
    {% endfor %}
    <!-- else if there are no tasks to display -->
    {% else %}
    <tr>
      <td>
        No entries available.
        <br />
        Did you forget to mark your tasks as completed?
        <br />
        Click this
        <a href="/"><span>link</span></a> and choose the tasks that have been
        finished.
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
<!-- BUTTON TO CLEAR TASKS -->
<form method="post" action="/accomplished">
  <button type="submit">Clear your finished tasks</button>
</form>
{% endblock %}
