<!-- this will extend from layout -->
{% extends "layout.html" %} {% block title %} Long-term goals{% endblock %} {%
block main %}

<!-- js link here -->
<script src="/static/longTasks.js"></script>

<h1 class="cover-heading">Long-term goals</h1>
<p class="lead">
  There are pending tasks, but don't require urgent attention?
  <br />
  Use this tool to add them!
</p>

<!-- input form -->
<form action="/goals" method="post">
  <div>
    <input
      id="longTask"
      name="longTask"
      autocomplete="off"
      autofocus
      placeholder="Add a new long-term task here"
      type="text"
      class="w-50"
    />
  </div>
  <br />
  <button class="button text-white" type="submit">
    <span class="text">Submit</span>
    <i class="ri-check-line icon"></i>
  </button>
  {% if longTasks %}
  <hr class="mb-4" />
  {% endif %}
</form>

{% if longTasks %}
<table class="table table-striped">
  <!-- TABLE HEAD -->
  <thead
    id="longTasksHead"
    class="text-white"
    style="background-color: #425db2"
  >
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task Details</th>
      <th scope="col">Created On</th>
    </tr>
  </thead>
  {% endif %}
  <!-- TABLE BODY -->
  <tbody id="longTasksTable">
    <!-- if there are entries -->
    {% if longTasks %}
    <form method="post">
      <!-- loop and display -->
      {% for longTask in longTasks %}
      <tr>
        <td class="checkbox">
          <div>
            <input
              type="checkbox"
              value="{{ longTask.id }}"
              id="{{ longTask.id }}"
              name="click_longTask"
              class="click_longTask"
            />
          </div>
        </td>
        <td>{{ longTask.name }}</td>
        <td>{{ longTask.datetime }}</td>
      </tr>
      {% endfor %}
    </form>
    <!-- if there are no entries -->
    {% else %}
    <br /><br />
    <tr>
      <td class="lead">
        There are no tasks entered that are due in a long term.
        <br />
        Do not let your memory fail you.
        <br />
        Add them in this page.
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
<br />
{% if longTasks %}
<!-- complete button -->
<div class="d-flex justify-content-center">
  <div class="col-md-3 mb-3">
    <button
      class="lead btn text-white"
      type="submit"
      id="accomplished_task_button"
      style="background-color: #eb393d"
    >
      Mark As Finished
    </button>
  </div>

  <!-- DELETE BUTTON -->
  <div class="col-md-3 mb-3">
    <button
      class="lead btn text-white"
      type="submit"
      id="delete_button"
      style="background-color: #eb393d"
    >
      Delete Task
    </button>
  </div>
</div>
{% endif %} {% endblock %}
