<!-- this will extend from layout -->
<!-- page for future tasks page will be here -->

{% extends "layout.html" %} {% block title %} Long-term goals{% endblock %} {%
block main %}

<!-- js link here -->
<script src="/static/longTasks.js"></script>

<h1>Long-term goals</h1>
<p>
  There are pending tasks, but don't require urgent attention?
  <br />
  Use this tool to add them!
</p>
<!-- input form -->
<form action="/goals" method="post">
  <div>
    <input
      id="longTask"
      name="longTask"
      autocomplete="off"
      autofocus
      placeholder="Add a new long-term task here"
      type="text"
    />
  </div>
  <button type="submit">Submit</button>
</form>
<table>
  <!-- TABLE HEAD -->
  <thead>
    <tr>
      <th>Task</th>
      <th>Created On</th>
    </tr>
  </thead>
  <!-- TABLE BODY -->
  <tbody id="longTasksTable">
    <!-- if there are entries -->
    {% if longTasks %}
    <form method="post">
      <!-- loop and display -->
      {% for longTask in longTasks %}
      <tr>
        <td class="checkbox">
          <div>
            <input
              type="checkbox"
              value="{{ longTask.id }}"
              id="{{ longTask.id }}"
              name="click_longTask"
              class="click_longTask"
            />
          </div>
        </td>
        <td>{{ longTask.name }}</td>
        <td>{{ longTask.datetime }}</td>
      </tr>
      {% endfor %}
    </form>
    {% endif %}
  </tbody>
</table>

<!-- complete button -->
<div>
  <button type="submit" id="accomplished_task_button">Mark As Finished</button>
</div>

<!-- DELETE BUTTON -->
<div>
  <button type="submit" id="delete_button">Delete Task</button>
</div>

{% endblock %}
