<!-- this will extend from layout -->
{% extends "layout.html" %} {% block title %} Index {% endblock %} {% block main
%}

<script src="/static/tasks.js"></script>

<h1 class="cover-heading">
  Life balance is smooth when your plan accordingly.
  <br />
  Enter any pet-related tasks here and make sure you don't forget your pet
  needs.
</h1>
<p class="lead">Fill out this form with tasks that needs to be handled soon.</p>

<!-- form to submit task -->
<form action="/" method="post">
  <div>
    <input
      name="task"
      id="task"
      autocomplete="off"
      autofocus
      placeholder="Enter a task here"
      type="text"
      class="w-50"
    />
  </div>
  <br />
  <button class="button text-white" type="submit">
    <span class="text">Submit</span>
    <i class="ri-check-line icon"></i>
  </button>
  {% if tasks %}
  <div id="formmb">
    <hr class="mb-4" />
  </div>
  {% endif %}
</form>

{% if tasks %}
<!-- table where tasks will load -->
<table id="tableid" class="table table-striped">
  <thead id="tasksHead" class="text-white" style="background-color: #425db2">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task Details</th>
      <th scope="col">Created On</th>
    </tr>
  </thead>
  {% endif %}
  <!-- table body -->
  <tbody id="tasksTable">
    <!-- if there are tasks saved, show them -->
    {% if tasks %}
    <form method="post">
      {% for task in tasks %}
      <tr>
        <td class="checkbox">
          <div>
            <input
              type="checkbox"
              value="{{ task.id }}"
              id="{{ task.id }}"
              name="click_task"
              class="click_task"
            />
          </div>
        </td>
        <td>{{ task.name }}</td>
        <td>{{ task.datetime }}</td>
      </tr>
      {% endfor %}
    </form>
    <!-- if no tasks, invite user to add them -->
    {% else %}
    <br /><br />
    <tr>
      <td class="lead">There are no entries submitted.</td>
    </tr>
    {% endif %}
  </tbody>
</table>
<br />
{% if tasks %}
<!-- complete button -->
<div id="formbuttons" class="d-flex justify-content-center">
  <div class="col-md-3 mb-3">
    <button
      class="lead btn text-white"
      type="submit"
      id="accomplished_button"
      style="background-color: #eb393d"
    >
      Mark As Finished
    </button>
  </div>
  <!-- delete button -->
  <div class="col-md-3 mb-3">
    <button
      class="lead btn text-white"
      type="submit"
      id="delete_button"
      style="background-color: #eb393d"
    >
      Delete Task
    </button>
  </div>
</div>
{% endif %} {% endblock %}
