<!-- this will extend from layout -->

{% extends "layout.html" %} {% block title %} Index {% endblock %} {% block main
%}

<script src="/static/tasks.js"></script>

<h1 class="cover-heading">Enter your pet activities here</h1>
<p class="lead">
  Use the form below to enter an entry for a task regarding your furry friend
  that needs to be handled in the next 24 hours
</p>

<!-- form to submit task -->
<form action="/" method="post">
  <div>
    <input
      name="task"
      id="task"
      autocomplete="off"
      autofocus
      placeholder="Enter a task here"
      type="text"
      class="w-50"
    />
  </div>
  <br />
  <button class="lead btn btn-lg btn-primary" type="submit">Submit</button>
  <hr class="mb-4" />
</form>

<table>
  <!-- table head where tasks will load -->
  {% if tasks %}
  <thead id="tasksHead">
    <tr>
      <th></th>
      <th>Task Details</th>
      <th>Created On</th>
    </tr>
  </thead>
  {% endif %}
  <!-- table body -->
  <tbody id="tasksTable">
    <!-- if there are tasks saved, show them -->
    {% if tasks %}
    <form method="post">
      {% for task in tasks %}
      <tr>
        <td class="checkbox">
          <div>
            <input
              type="checkbox"
              value="{{ task.id }}"
              id="{{ task.id }}"
              name="click_task"
              class="click_task"
            />
          </div>
        </td>
        <td>{{ task.name }}</td>
        <td>{{ task.datetime }}</td>
      </tr>
      {% endfor %}
    </form>
    <!-- if no tasks, invite user to add them -->
    {% else %}
    <tr>
      <td>There are no entries submitted.</td>
    </tr>
    {% endif %}
  </tbody>
</table>
<br />
<!-- complete button -->
<div class="d-flex justify-content-center">
  <div class="col-md-3 mb-3">
    <button
      class="lead btn btn-sm btn-primary"
      type="submit"
      id="accomplished_button"
    >
      Mark As Finished
    </button>
  </div>
  <!-- delete button -->
  <div class="col-md-3 mb-3">
    <button
      class="lead btn btn-sm btn-primary"
      type="submit"
      id="delete_button"
    >
      Delete Task
    </button>
  </div>
</div>
{% endblock %}
