<!-- this will extend from layout -->
<!-- tasks page will be here -->

{% extends "layout.html" %} {% block title %} Index {% endblock %} {% block main
%}

<script src="/static/tasks.js"></script>

<h1>Enter your pet activities here</h1>
<!-- form to submit task -->
<form action="/" method="post">
  <div>
    <input
      name="task"
      id="task"
      autocomplete="off"
      autofocus
      placeholder="Enter a task here"
      type="text"
    />
  </div>
  <button type="submit">Submit</button>
</form>

<table>
  <!-- table head where tasks will load -->
  <thead>
    <tr>
      <th>Task Details</th>
      <th>Created On</th>
    </tr>
  </thead>
  <!-- table body -->
  <tbody>
    <!-- if there are tasks saved, show them -->
    {% if tasks %}
    <form>
      {% for task in tasks %}
      <tr>
        <td class="checkbox">
          <div>
            <input
              type="checkbox"
              value="{{ task.id }}"
              id="{{ task.id }}"
              name="check_task"
            />
          </div>
        </td>
        <td>{{ task.name }}</td>
        <td>{{ task.datetime }}</td>
      </tr>
      {% endfor %}
    </form>
    {% endif %}
  </tbody>
</table>
<!-- delete button -->
<div>
  <button type="submit">Delete Task</button>
</div>
{% endblock %}
