<!-- layout html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- css link -->
    <link href="/static/styles.css" rel="stylesheet" />
    <!-- jquery link -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- ajax link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>

    <!-- using block title from htmls -->
    <title>PetCare: {% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav>
      <a href="/">PetCare</a>
      <!-- NOTE: for use in hamburger icon for mobile/tablet -->
      <button></button>
      <div>
        <!-- when user is logged-in -->
        {% if session.user_id %}
        <ul>
          <li><a href="/">Tasks</a></li>
          <li><a href="/goals">Future Plans</a></li>
          <li><a href="/accomplished">Accomplished Tasks</a></li>
          <li><a href="/logout">Sign Out</a></li>
        </ul>
        <!-- if user not logged-in -->
        {% else %}
        <ul>
          <li>
            <a href="/register">Create Account</a>
          </li>
          <li>
            <a href="/login">Sign In</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>

    <!-- NOTE: could include header here to display messages -->

    <!-- main block that will be replaced by other htmls -->
    <main>{% block main %}{% endblock %}</main>
    <footer>Copyright © 2022</footer>
  </body>
</html>
