<!-- this will extend from layout -->

{% extends "layout.html" %} {% block title %} Sign In {% endblock %} {% block
main %}
<form class="w-50 justify-content-center mx-auto" action="/login" method="post">
  <div class="form-group">
    <label class="float-left" for="loginUser">Enter your username</label>
    <input
      autocomplete="off"
      autofocus
      name="username"
      placeholder="Example: Fido2022 or Meowise2022"
      type="text"
      id="loginUser"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label class="float-left" for="loginPass">Enter your password</label>
    <input
      name="password"
      placeholder="************"
      type="password"
      id="loginPass"
      class="form-control"
    />
  </div>
  <button
    class="lead btn text-white"
    style="background-color: #425db2"
    type="submit"
  >
    Sign In
  </button>
</form>
<br />
<p>Don't have an account? <a href="/register">Register here</a></p>
{% endblock %}
